@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import "form_styles.css"; 
@import "custom.css";
@import "foundation.css";
@import "foundation.min.css";
@import "normalize.css";
@import "checkbox.css";
@import "tables.css";

body {

	background: #eceff0;
	margin:5px;
	padding:5px;
	font:1em "Open Sans", sans-serif;
	color:#363639;
	font-size: 1.0em;


}



/** element defaults **/

table {
	width: 60%;
	text-align: center;
	border-collapse: collapse;
}

/*Do not show the mobile profile add in large screen format*/
#mobile_settings{
	display:none;
}


th, td {
	color: #666;
	padding: 10px 10px;
	text-align: center;
	border-collapse: collapse;
	background: #ccc none repeat-x scroll left top;
}



tr:nth-child(2n+0) td{
	background-color: #F4F4FF ;

}

td {

	border-bottom: 1px solid #ccc;
	background-color: #fff;

}

p {

	line-height: 1.9em;
	margin-bottom: 20px;

}


a, .sidebar li ul li a.readmore {

	color: #064FB1;   /* light blue */
	

}

a:hover {

	color: #FF544A; /* pink */ 

}


a:focus {

	outline: none;

}


a.button:hover {
	background-color: #FF8533;
}



h1 {
	color: #134F73; /*darker blue*/
	font-size: 2.7em;

}



h2 {

	color: #134F73; /*darker blue*/
	font-size: 1.2em;
	letter-spacing: -1px;
	font-weight: bold;
	padding: 0 0 5px;
	margin: 0;

}



h3 {

	color: #134F73; /*darker blue*/
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: -1px;

}



h4 {
    color: #134F73; /*darker blue*/
    font-size: 1.2em;
    font-weight: normal;
    padding-left: 5px;
    padding-bottom: 1px;
    

}



h5 {
    color: #FF544A; /*Pink*/
    font-size: 1em;
    font-weight: normal;
    padding-left: 5px;
    padding-bottom: 1px;
    

}



ul, ol {
	margin: 0 0 15px 15px;

}


li {
	list-style-type: none;
	padding-bottom: 5px;

}


textarea {
	width: 90%;
	height: 100px;

}


li ol, li ul {
	
	list-style-type: none;
	
	font-size: 1.0em;

	margin-bottom: 0;

	padding-top: 5px;

}



.width {
	width: 90%;
	margin: 0 auto;
}


#container {
	margin: 0 auto;

}



header {

	padding: 30px 20px;
	margin: 0 auto;
	text-align:left;

}

/*grub nums header*/

header h1 a, header h1 a:hover {
    color: ##FF544A;
    font-size: 1.4em;
    padding: 10px 0;
    font-weight: bold;
    letter-spacing: -5px;
    line-height:45px;
    text-transform: lowercase;
    text-decoration: none;

}


header h1 a span, header h1 a:hover span {
	color: #134F73;
}


nav {
	height: 3.5em;
	width: 100%;

}

nav .inner-nav { 
	background-color: #0C1C29;
	border: 0px solid #0C1C29;
	height: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}



nav ul {

	list-style: none;
	padding: 0;
	margin: 0;
	height: 120%;
	background-color: #14273A;
	border: 0px solid #14273A;
	border-radius: 15px;

}



nav ul li {

	float: left;
	display: block;
	padding: 0;

}




nav ul li a {
	color: #fff;
	display: block;
	font-size: 1em;
	letter-spacing: 0.2px;
	font-weight: bold;
	text-decoration: none;
	padding: 1.04em 1.2em;

}




nav ul li a:hover {

	color: #FF544A; /* pink */ ;

}



#body {
	background: #FFF8FF;
	margin: 0 auto;
 	padding: 1.04em;
	clear: both;
	border: 1px solid #A89F96;
}



#content {
    width: 100%; 
}

/*Left align table for setting table, this is how you target specific areas within styling*/
/* MICOR LEVEL CSS Styling*/








.sidebar {
    float:right;
    width: 31%;
	margin-top: 10px;

}


.sidebar h4 {	
	font-size: 1.4em;
	color: #fff;
	font-weight: bold;
	padding: 0 0 13px 0;
	background-color: #FA7108;
	border: 2px solid #FA7108;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}


.sidebar h4 span {
	display: block;
	padding: 8px 10px 0 10px;
	background-color: #FA8B37;
	border: 1px solid #FA8B37;
	border-radius: 15px;


}

.sidebar ul {

	margin: 0;

	padding: 0;

	list-style: none;

}



.sidebar ul li {

	margin-bottom: 1px;

	line-height: 1.5em;

}



.sidebar li ul {
    list-style: none outside none;
    margin: 0px;

}



.sidebar li ul li {

	display: block;

	border-top: none;

	padding: 7px 10px;

	margin: 5px;

	line-height: 2em;

}


.sidebar li ul li.text { 
	border-bottom: none;
}




.sidebar li ul li a {

	font-weight: normal;
	color: #666;

}



.sidebar li ul li a:hover {
	color: #000;

}



.sidebar li ul li a.readmore {
   font-weight: bold;
}


.profile {
	background: $f9f9f9;
	border: 1px dashed #ccc;
	padding: 5px;
	
}


.profile img {
	width:25%;
}


.profile_page img {
	width:25%;
}


.profile img {
	width:50%;
}
 



.clear {

	clear: both;

}



footer {

	background: #222;
	border-top: 2px solid #eee;

}



footer p {

	text-align: left;

	color: #ccc;

	font-size: 0.9em;

	margin: 0;

	padding: 0;

}



footer p a {

	color: #ccc;

	font-weight: bold;

}



.footer-content {
	padding: 1.04em;

}



footer .footer-content ul {

	width: 33%;

	list-style: none;
	margin: 0;

	padding: 0;

	float: left;

}




footer .footer-content li {

	padding: 5px 5px;

}



footer .footer-content li a, footer .footer-content h4 {

}



footer .footer-content li a {

 color: #505050;
    font-size: 0.9em;
    text-decoration: underline;

}


footer .footer-content li a:hover { 
	color: #909090;
}



footer .footer-content h4 {

   color: #ddd;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 0;

}



footer .footer-content ul.endfooter {

	margin-right: 0;

}

footer .footer-bottom {

	padding: 10px;

	text-align: center;

	background-color: #000;

}

.recommend{
	border: 1px dashed #ccc;
}

footer .footer-bottom p {

	text-align: center;

}



footer .footer-bottom p, footer .footer-bottom p a {

	color: #666;

}

.cf:before,
.cf:after {
	content: " ";
	display:table;

}

.cf:after {
	clear:both;

} 

#container_gallery{
	max-width:60%;
	padding:10px;
	background:#f0f0f0;
	margin:0 auto;
	float: left;
	
}

.gallery {
	width:100%;
}

.gallery-item{
	float:left;
	background:#fff;
	width:150px;
	margin:1%;
	padding:2%;
	padding-bottom:5%;
	box-shadow:1px 1px 1px;
	
}

.gallery-item img{
	width:100%;

}


/* Drag and drop Upload*/
.dropzone{
	width:300px;
	height:300px;
	border:2px dashed #ccc;
	color: #ccc;
	line-height:300px;
	text-align: center;

}

.dropzone.dragover{
	border-color:#000;
	color:#000;

}



























































/*Small Screen Size*/

@media screen and (max-width: 780px) {

	div#container { width: auto; }

	body { font-size: 0.8em; }

	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: .9em; }
	
	nav ul li { float: none; text-align:center;  }

	nav ul li a { margin-top: 0; padding: 0.5em; }

	nav { height: 120%; position: relative; }
	
	#rec { display: none; } 

	#login {
	 display: none }
	 
	.wrap {
    width: 100%;
	}
	
	#mobile_settings{
	display:block;
	}
	
	#container_gallery{
	max-width:100%;
	padding:10px;
	background:#f0f0f0;
	margin:0 auto;
	float: left;
	
	}
	
	#comment_table_settings {
		
		background-color: #F4F4FF;
		border: solid 1px #000;
		border-collapse: collapse;
		width: 100%;
}


}

