table.grub_guess_table td.guess-header{
		font-weight: bold;
		text-align: center;
		padding-left:30px;
		font-size: 120%;
		
		
}

table.grub_guess_table td.guess-type{
		font-weight: bold;
		
		text-align: left;
		padding-left:30px;
		width: 20%;
		
}

input.submit-button{
	background-color:#fff;
	padding: 5px 10px;
	border: 1px solid #ddd;
	width:100%;
	margin-top:10px;
	box-shadow: 3px 3px 0 #ddd;

}


div.rating-div{
		font-weight: bold;
		padding-left:30px;
		
}

input.comment-submit{
		color: #666;
		font-weight: bold;		
		text-align: center;
		margin-left:30px;
		margin-bottom:5px;	
		min-width: 250px;
		min-width: 350px;
		margin-right: 10px;
		
		
}

textarea.textarea-style {
	width: 90%;
	height: 100px;
	padding: 5px 10px;
	margin-left:30px;

}






table#comment_table_settings td.settings-input, td.settings-label{
	text-align: left;
	padding-left:15px;
	margin-left: 15px;
}



input.settings-text-input{
	width:100%;

}



table#comment_table_settings tr.settings-header{
		font-weight: bold;
}

table#comment_table_settings td.settings-input input{
		border:1px;
		border-bottom: 2px solid #ccc;
		padding-top: 5px;
		padding-left: 15px ;
		padding-bottom: 5px;
}



div#recipe-div{
		width: 60%;
		border:1px solid #000;

}



table#directionsTable  {

		width: 100%;
	
}

table#recipeTable  {
		width: 100%;
}



table#directionsTable td.directions-title {
		font-weight: bold;
		text-align: left;
		padding-left:30px;
		width:200px;
}

table#directionsTable td.directions-content {
	
		text-align: left;
		padding-left:10px;
		margin-bottom:10px;
}







table.comment_table td.comment-user{
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	width:30%
	

}


img#comment-profile{
border: 0px;
}

table.comment_table td.comment-user img{
	width:50px;
	padding-right:20px;
	

}


table.comment_table td.comment-text{
	text-align: left;
	padding-left:30px;
	font-style: italic;

}


table.comment_table td.comment-header{
		text-align: center;
		font-weight: bold;
		font-size: 120%;

}

img#grub-main,  img#grub-main-edit {
 border-radius: 10px;
 border: 2px solid #A89F96;
}


img#grub-rec-widget{
height: 50px;

}

img#profile-sidebar{
margin-top:10px;
margin-bottom:10px;
 border-radius: 10px;
 border: 2px solid #A89F96;
max-height: 200px;

}




select#BX_gender{
width:150px;

}


form#image_detail_form{
	margin-bottom:5px;
}

input#recipe-submit{
	margin-top:5px;
}



table.head{
font-size: 80%;
}




#add-form {
		margin-top:10px;
		background-color: #F4F4FF;
		border: solid 1px #000;
		border-collapse: collapse;
		width: 35%;
		max-width:335px;
		min-width:166px;
}

h4#welcome-aside{
	margin-top:5px;
	margin-bottom:0px;
}

























div.comment_container-grubinfo {
		margin-top:10px;
		background-color: #F4F4FF;
		border: solid 1px #000;
		border-collapse: collapse;
		width: 60%;
}


table#image_detail_table_settings-grubinfo{
  table-layout: fixed;
width: 100%;
}

td.image-detail-title{
		font-weight: bold;
		text-align: left;
		padding-left:30px;
		min-width: 300px;
		
}

td.image-detail-data{

		text-align: left;
		padding-left:30px;
		min-width: 300px;
		
}


textarea#direction-textarea{
	width:60%;


}

